.profile {
    display: flex;
    flex-direction: column;
    padding: 50px;
    &__img{
        width: 200px;
        height: 200px;
        background: #ccc;
        border-radius: 100%;
        overflow: hidden;
        margin-bottom: 20px;
        img{
            height: 100%;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        color: #ff2e65;
        margin-bottom: 25px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        label {
            font-weight: 700;
            font-size: 14px;
            line-height: 28px;
            color: #231f20;
            opacity: 0.7;
            margin-bottom: 6px;
        }
        input {
            background: #f3f3f7;
            border: 1.5px solid #e3ecf5;
            border-radius: 8px;
            max-width: 350px;
            height: 50px;
            margin-bottom: 10px;
            padding-left: 15px;
            
        }
    }
    &__btn {
        display: flex;
        gap: 30px;
        margin-bottom: 20px;
    }
}

.save{
    font-weight: 700;
    font-size: 20px;
    color: #ff2e65;
}

#hidden{
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

