.total {
    padding: 22px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.08);
    margin-top: 50px;
    &__title {
        font-weight: 700;
        font-size: 15px;
        line-height: 28px;
        color: #ff2e65;
        margin-bottom: 25px;
    }
    &__list {
        text-decoration: none;
        padding: 0;
        margin-bottom: 25px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        span {
            font-weight: 700;
            font-size: 17px;
            line-height: 28px;
            color: #231f20;
            margin-right: 15px;
        }
        &__info {
            display: flex;
            flex-direction: column;
            max-width: 245px;
            h3 {
                font-weight: 600;
                font-size: 16px;
                line-height: 28px;
                color: rgba(35, 31, 32, 0.8);
            }
            span {
                font-weight: 600;
                font-size: 11px;
                line-height: 15px;
                color: rgba(35, 31, 32, 0.8);
                opacity: 0.6;
                
            }
        }
    }
    &__price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        &__text {
            font-weight: 700;
            font-size: 15px;
            line-height: 28px;
            color: #213134;
            opacity: 0.6;
        }
        span {
            font-weight: 700;
            font-size: 15px;
            line-height: 28px;
            color: #213134;
        }
    }
    &__descr {
        text-align: center;
    }
}
